@import "../node_modules/bootstrap/scss/functions";
@import "custom_variables.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/buttons";

.social-icons {
  a {
    color: #000;

    &:hover {
      color: $primary;
    }
  }
  i {
    font-size: 30px;
    margin: 0 8px;
    padding: 0;
  }
}

header {

  background-color: $bg-color;

  .dropdown {
    display: inherit;
    align-items: center;

    .dropdown-toggle {
      align-self: start;
      padding-left: 0 !important;
    }

    .dropdown-menu {
      display: none;
    }

    &:hover .dropdown-menu {
      display: block;
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    font-size: 24px;

    .userbar {
      display: inline;
      position: relative;

      .user-avatar {
        width: 50px;
        line-height: 24px;
      }

    }

    .badge {
      font-size: 10px;
      position: absolute;
      bottom: -5px;
      right: -5px;
    }

    .toolbar-ico {
      position: relative;
      cursor: pointer;
      margin: 0 5px;
    }
  }

  .searchbar-container {
    background: none;
    position: relative;

    .searchbar {
      position: absolute;
      width: 100%;
    }
  }
}

main {
  section {
    padding: 2rem 0;
    background-color: darken($bg-color, 5%);

    &:nth-child(even) {
      background-color: $bg-color;
    }
  }

  .category-list {

    .container {
      .row {
        padding-bottom: 50px;

        .col {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-align: left;

          .item-text {
            text-align: left;
          }
        }

        &:nth-child(even) {
          flex-direction: row-reverse;

          .col {
            text-align: right;
            justify-content: flex-start;
          }
        }
      }
    }
  }

  .top-products {
    a {
      text-decoration: none;
    }

    h3 {
      font-size: 1.1rem;
    }

    .card-container {
      display: flex;

      .product-card {
        min-height: 100%;

        .card-img-top {
          width: 200px;
          height: 200px;
          margin: 0 auto;
        }

        .rating::before {
          content: "✭";
          color: $primary;
        }
      }
    }
  }


  .subscribe {
    background-color: $primary !important;
  }

  .pagination {
    justify-content: center;
  }
}

