@import "../node_modules/bootstrap/scss/functions";
@import "custom_variables.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/buttons";

.social-icons.container {
  i {
    font-size: 30px;
    margin: 0 8px;
    padding: 0;
  }
}

header {

  background-color: $bg-color;

  .dropdown {
    display: inherit;
    align-items: center;

    .dropdown-toggle {
      align-self: start;
      padding-left: 0 !important;
    }
  }
  .toolbar {
    font-size: 20px;
}

}

main {
  .category-list {
    div:nth-child(even) {
      flex-direction: row-reverse;
    }

    .category-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-text {
        text-align: left;
      }
    }
  }
}

