@import "../node_modules/bootstrap/scss/functions";
@import "custom_variables.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/buttons";

.social-icons {
  i {
    font-size: 30px;
    margin: 0 8px;
    padding: 0;
  }
}

header {

  background-color: $bg-color;

  .dropdown {
    display: inherit;
    align-items: center;

    .dropdown-toggle {
      align-self: start;
      padding-left: 0 !important;
    }
  }

  .toolbar {
    font-size: 24px;

    .toolbar-ico {
      position: relative;
      cursor: pointer;

      .badge {
        font-size: 10px;
        position: absolute;
        bottom: -5px;
        right: -5px;
      }
    }
    }
}

.searchbar {
  //animation: 4s linear searchbar-popup;
  position: relative;
  //width: 50%;
  top: -100px;
}

main {

  .category-list {
    .row:nth-child(even) {
      flex-direction: row-reverse;
    }
      .col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        .item-text {
          text-align: left;
        }
      }
  }

  .subscribe {
    background-color: $primary;
  }
}

